<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Vue JS</title>
  </head>
  <body>
    <div id="app">

      <ul id="v-for-todo" class="demo">
        <li v-for="value in todo">
          <div v-if="value.valider == 1 ">
            <strike v-if="value.valider == 1 ">
               {{ value.id }} - {{ value.libelle }} 
            </strike>
          </div>  
          <div v-else>
            {{ value.id }} - {{ value.libelle }} 
          </div>  
        </li>
      </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js"></script>
  </body>
</html>